* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  text-align: center;
  padding: 0.3rem;
  background-color: rgb(31, 31, 31);
  color: #009688;
}

h1 {
  font-size: 1.5rem;
}

.content-container {
  height: 100%;
  background-color: #512da8;
  z-index: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  flex: 1 1 auto;
  color: #f2f0eb;
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px #212121;
  padding-top: 0.7rem;
}

.rock,
.paper,
.scissors {
  text-align: center;
  flex: 1 1 auto;
  height: 5rem;
  width: 5rem;
}

.card {
  color: #f2f0eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  margin: 1rem 1rem;
}

.feedback {
  line-height: 1.5em;
  justify-content: flex-start;
  padding: 1.32rem 2rem;
  background-color: rgb(255, 249, 249);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  min-height: 5rem;
}

.feedback p span {
  padding-left: 2rem;
  font-weight: 400;
}

.feedback .ready {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 800;
  text-shadow: gray 1.2px 1.5px 2px;
}
.player-container {
  display: flex;
  justify-content: center;
}

.new-game {
  color: rgb(249, 191, 90);
}

.new-game:hover {
  cursor: pointer;
}
.robot-choice{
  display: none;
}
.player-choice{
  display: none;
}

.score-container {
  z-index: -1;
  background-color: rgb(255, 168, 18);
}

.player {
  border-radius: 0.3rem 0.3rem 0 0;
  box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.4);
}

.computer {
  border-radius: 0rem 0rem 0.3rem 0.3rem;
  box-shadow: inset 1px -1px 1px 1px rgba(255, 255, 255, 0.4);
}

button {
  flex: 0 1 auto;
  background-color: #212121;
  padding: 0.7rem 0.9rem;
  border-radius: 50%;
  border: none;
  margin: 0.3rem;
  box-shadow: 3px 10px 0 rgba(0, 0, 0, 0.25) inset,
    -6px 4px 0 rgba(205, 205, 205, 0.15) inset;
}

.computer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.computer-container img {
  flex: 0 1 auto;
  width: 10rem;
  border-radius: 50%;
  margin: 3rem;
  /* purple eyes */
  filter: hue-rotate(061deg);
}

.win {
  background-color: #4caf50;
}

.card:hover {
  cursor: pointer;
  /* change color on hover */
  filter: invert(53%) sepia(73%) saturate(2821%) hue-rotate(140deg)
    brightness(80%) contrast(124%);
}

.card:active {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 900ms;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  transform: translate(3px, 2px);
}

.card img {
  /* change color of svgs */
  filter: invert(100%) sepia(0%) saturate(6372%) hue-rotate(341deg)
    brightness(128%) contrast(88%);
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }

  25% {
    -webkit-transform: rotate(-15deg);
  }

  50% {
    -webkit-transform: rotate(25deg);
  }

  75% {
    -webkit-transform: rotate(-15deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }

  25% {
    -ms-transform: rotate(-1deg);
  }

  50% {
    -ms-transform: rotate(1.5deg);
  }

  75% {
    -ms-transform: rotate(-5deg);
  }

  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

